<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Assignment 14!</title>
	</head>
	<body>
	<img src="/assets/images/burger.jpg">
		{{{ body }}}
	</body>
</HTML>
